<h1>Let's work together!</h1>
<div class="row">
  <div class="col-md-6">
    <p>1201 W Blaine St, Apt 69</p>
    <p><%= number_to_phone "8189439150" %></p>
    <p><a href="mailto:igor.irianto@gmail.com">igor.irianto@gmail.com</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.3311175962067!2d-117.34011528504826!3d33.98402782876971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcae6b33a399dd%3A0x6e9ac74148940e03!2s1201+W+Blaine+St%2C+Riverside%2C+CA+92507!5e0!3m2!1sen!2sus!4v1516655464285" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
