<h1>Portfolio items</h1>

<% @experiences.each do |experience| %>
  <p><%= experience.title %></p>
  <p><%= experience.subtitle %></p>
  <p><%= experience.body %></p>
  <% if experience.thumb_image %>
    <%= image_tag experience.thumb_image %>
  <% end %>

<% end %>
